<div class="container">
  <h1>Tabs</h1>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <% @tabs.each_with_index do |tab, i| %>
    <li class="nav-item">
      <a class="nav-link <% if i == 0 %>active<% end %>" data-toggle="tab" href="#<%= tab.title.parameterize %>" role="tab"><%= tab.title %></a>
    </li>
    <% end %>
    <li class="nav-item">
    <%= link_to '<i class="fa fa-plus-square-o" aria-hidden="true"></i>'.html_safe, new_tab_path, class: 'nav-link' %>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <% @tabs.each_with_index do |tab, i| %>
    <div class="tab-pane <% if i == 0 %>active<% end %>" id="<%= tab.title.parameterize %>" role="tabpanel"><%= tab.content %></div>
    <% end %>
  </div>

  <br>

</div>
